#main {
    width: 700px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: 50px 450px;
    display: inline-block;
}
#logo {
    width: 300px;
    float: left;
}
#login {
    width: 400px;
    padding: 30px 50%;
}
